#add-entry-form.pure-form
  = form_for Entry.new do |f|
    %legend New horror story
    %fieldset
      = f.text_field :title, class: 'pure-input-2-3', placeholder: 'Title'
    %fieldset
      = f.text_area :content, id: 'new-entry-content', class: 'pure-input-2-3', placeholder: 'Content'
    %fieldset
      = f.select :language, %w(ruby javascript),{id: 'new-entry-language', class: 'pure-input-2-3', prompt: 'Language'}
    %fieldset
      = f.submit 'Submit horror', class: 'pure-input-2-3 pure-button'
